In [7]:
import pandas as pd
import json

In [8]:
colunas_localizacao = [
    # Localização
    'SG_UF_PROVA',
    'SG_REGIAO',
]

colunas_dashboard = [
    # Notas
    'NU_NOTA_CN', 
    'NU_NOTA_CH', 
    'NU_NOTA_LC', 
    'NU_NOTA_MT',
    'NU_NOTA_REDACAO',
]

colunas_geral = [
    'SG_UF_PROVA',
    'SG_REGIAO',

    # Presença
    'TP_PRESENCA_CN', 
    'TP_PRESENCA_CH', 
    'TP_PRESENCA_LC', 
    'TP_PRESENCA_MT',
    'TP_PRESENCA_GERAL',
    'TP_PRESENCA_REDACAO',

    # Notas
    'NU_NOTA_CN', 
    'NU_NOTA_CH', 
    'NU_NOTA_LC', 
    'NU_NOTA_MT',
    'NU_NOTA_REDACAO'
    ]

colunas_aspectos_sociais = [
    'SG_UF_PROVA',
    'SG_REGIAO',

    # Variáveis sociais
    'TP_SEXO',
    'TP_COR_RACA',
    'TP_ESTADO_CIVIL',
    'TP_FAIXA_ETARIA',
    'TP_ST_CONCLUSAO',
    'TP_DEPENDENCIA_ADM_ESC',
    'TP_ESCOLA',
    'TP_ENSINO',
    'TP_LOCALIZACAO_ESC',
    
    
    # Questões socioeconômicas
    'Q001', 
    'Q002', 
    'Q005', 
    'TP_FAIXA_SALARIAL', 
    'Q025',
    
    # Infraestrutura
    'NU_INFRAESTRUTURA'
    ]

colunas_desempenho = [
    'SG_UF_PROVA',
    'SG_REGIAO',
    
    # Características do candidato
    'TP_SEXO',
    'TP_COR_RACA',
    'TP_DEPENDENCIA_ADM_ESC',
    'TP_ST_CONCLUSAO',
    'TP_FAIXA_ETARIA',
    
    # Notas
    'NU_NOTA_CN', 
    'NU_NOTA_CH', 
    'NU_NOTA_LC', 
    'NU_NOTA_MT',
    'NU_NOTA_REDACAO',
    
    # Categorias de desempenho
    'NU_DESEMPENHO',

    # Questões socioeconômicas
    'Q001',
    'Q002',
    'Q005',
    'TP_FAIXA_SALARIAL',
    'Q025'
    ]

In [9]:
# Carregar microdados completos
arquivo = '../Iniciação Científica/Códigos/microdados_tratado.parquet'
arquivo_dtypes = '../Iniciação Científica/Códigos/dtypes.json'

# Especificar explicitamente o engine
microdados = pd.read_parquet(arquivo, engine='pyarrow')

dtypes = pd.read_json(arquivo_dtypes, orient='index', typ='series')

microdados = microdados.astype(dtypes)

microdados = microdados.sample(500000, random_state=42)

In [10]:
# Colunas desempenho sem notas zeros e range de começando de 100
microdados_desempenho = microdados.copy()

# microdados_desempenho = microdados_desempenho[colunas_desempenho]

microdados_desempenho = microdados_desempenho[(microdados_desempenho['TP_PRESENCA_GERAL'] == 3) & (microdados_desempenho['NU_MEDIA_GERAL'] != -1)]

microdados_desempenho = microdados_desempenho[microdados_desempenho['NU_MEDIA_GERAL'] != -1]

# Filtrar onde todas as notas são >= 100
colunas_notas = ['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO', 'NU_MEDIA_GERAL']
condicao = True
for col in colunas_notas:
    condicao = condicao & (microdados_desempenho[col] >= 100)

microdados_desempenho = microdados_desempenho[condicao]

In [11]:

# Criar arquivos separados para cada aba
microdados[colunas_localizacao].to_parquet('sample_localizacao.parquet', index=False, engine='pyarrow')
microdados[colunas_geral].to_parquet('sample_geral.parquet', index=False, engine='pyarrow')
microdados[colunas_aspectos_sociais].to_parquet('sample_aspectos_sociais.parquet', index=False, engine='pyarrow')
microdados_desempenho[colunas_desempenho].to_parquet('sample_desempenho.parquet', index=False, engine='pyarrow')

# Criar arquivos dtypes separados
dtypes_localizacao = {col: str(microdados[col].dtype) for col in colunas_localizacao if col in microdados.columns}
dtypes_geral = {col: str(microdados[col].dtype) for col in colunas_geral if col in microdados.columns}
dtypes_aspectos = {col: str(microdados[col].dtype) for col in colunas_aspectos_sociais if col in microdados.columns}
dtypes_desempenho = {col: str(microdados[col].dtype) for col in colunas_desempenho if col in microdados.columns}

# Usar json module em vez do pandas to_json para evitar problemas de serialização
# Salva o mapeamento em um arquivo JSON

with open('dtypes_localizacao.json', 'w') as f:
    json.dump(dtypes_localizacao, f)
with open('dtypes_geral.json', 'w') as f:
    json.dump(dtypes_geral, f)
with open('dtypes_aspectos_sociais.json', 'w') as f:
    json.dump(dtypes_aspectos, f)
with open('dtypes_desempenho.json', 'w') as f:
    json.dump(dtypes_desempenho, f)
with open('dtypes.json', 'w') as f:
    json.dump(dtypes.to_dict(), f)

In [12]:
microdados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500000 entries, 553635 to 3217310
Data columns (total 71 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   TP_FAIXA_ETARIA         500000 non-null  category
 1   TP_SEXO                 500000 non-null  category
 2   TP_ESTADO_CIVIL         500000 non-null  category
 3   TP_COR_RACA             500000 non-null  category
 4   TP_NACIONALIDADE        500000 non-null  category
 5   TP_ST_CONCLUSAO         500000 non-null  category
 6   TP_ANO_CONCLUIU         500000 non-null  category
 7   TP_ESCOLA               500000 non-null  category
 8   TP_ENSINO               500000 non-null  category
 9   NO_MUNICIPIO_ESC        500000 non-null  category
 10  SG_UF_ESC               500000 non-null  category
 11  TP_DEPENDENCIA_ADM_ESC  500000 non-null  category
 12  TP_LOCALIZACAO_ESC      500000 non-null  category
 13  NO_MUNICIPIO_PROVA      500000 non-null  category
 14  SG_UF_PROVA             500000 non-null  category
 15  TP_PRESENCA_CN          500000 non-null  category
 16  TP_PRESENCA_CH          500000 non-null  category
 17  TP_PRESENCA_LC          500000 non-null  category
 18  TP_PRESENCA_MT          500000 non-null  category
 19  NU_NOTA_CN              500000 non-null  float16
 20  NU_NOTA_CH              500000 non-null  float16
 21  NU_NOTA_LC              500000 non-null  float16
 22  NU_NOTA_MT              500000 non-null  float16
 23  TX_RESPOSTAS_CN         500000 non-null  string
 24  TX_RESPOSTAS_CH         500000 non-null  string
 25  TX_RESPOSTAS_LC         500000 non-null  string
 26  TX_RESPOSTAS_MT         500000 non-null  string
 27  TP_LINGUA               500000 non-null  category
 28  TX_GABARITO_CN          500000 non-null  string
 29  TX_GABARITO_CH          500000 non-null  string
 30  TX_GABARITO_LC          500000 non-null  string
 31  TX_GABARITO_MT          500000 non-null  string
 32  TP_STATUS_REDACAO       500000 non-null  category
 33  NU_NOTA_COMP1           500000 non-null  int16
 34  NU_NOTA_COMP2           500000 non-null  int16
 35  NU_NOTA_COMP3           500000 non-null  int16
 36  NU_NOTA_COMP4           500000 non-null  int16
 37  NU_NOTA_COMP5           500000 non-null  int16
 38  NU_NOTA_REDACAO         500000 non-null  int16
 39  Q001                    500000 non-null  category
 40  Q002                    500000 non-null  category
 41  Q003                    500000 non-null  category
 42  Q004                    500000 non-null  category
 43  Q005                    500000 non-null  category
 44  Q006                    500000 non-null  category
 45  Q007                    500000 non-null  category
 46  Q008                    500000 non-null  category
 47  Q009                    500000 non-null  category
 48  Q010                    500000 non-null  category
 49  Q011                    500000 non-null  category
 50  Q012                    500000 non-null  category
 51  Q013                    500000 non-null  category
 52  Q014                    500000 non-null  category
 53  Q015                    500000 non-null  category
 54  Q016                    500000 non-null  category
 55  Q017                    500000 non-null  category
 56  Q018                    500000 non-null  category
 57  Q019                    500000 non-null  category
 58  Q020                    500000 non-null  category
 59  Q021                    500000 non-null  category
 60  Q022                    500000 non-null  category
 61  Q023                    500000 non-null  category
 62  Q024                    500000 non-null  category
 63  Q025                    500000 non-null  category
 64  TP_PRESENCA_GERAL       500000 non-null  category
 65  TP_PRESENCA_REDACAO     500000 non-null  category
 66  NU_DESEMPENHO           500000 non-null  category
 67  NU_MEDIA_GERAL          500000 non-null  float16
 68  NU_INFRAESTRUTURA       500000 non-null  category
 69  TP_FAIXA_SALARIAL       500000 non-null  category
 70  SG_REGIAO               500000 non-null  category
dtypes: category(52), float16(5), int16(6), string(8)
memory usage: 70.8 MB